.formulari{
  background-color: #213448 !important; 
}

.fons{
  background-color: #FFFFFF;
}

.headerifooter{
  background-color: #000000 !important;
}

.colorText{
  color: #ECEFCA !important;
}

.card{
  width: 18em;
}

.colorHamburguesa{
  background-color: #ECEFCA !important;
}

.fondoTextos{
  background-color: #213448;
  color: #ECEFCA !important;
}

.boto{
  background-color: #547792 !important;
  color: #ECEFCA !important;
}

.boto:hover{
  background-color: #000000;
}

.logoFooter{
  height: 10em;
}

.contenedorPrincipal{
  margin-top: 5.6em;
}

.tamanyInici{
  width: 34em;
  height: 22em;
}

.tamanyFotos{
  width: 34em;
  height: 22em;
}

.tamanyFotosCarrusel{
  width: 70em;
  height: 35em; 
}

@media (max-width: 575.98px) { 
  .tamanyInici{
    width: 25em;
  }

  .tamanyFotosCarrusel{
    width: 20em;
    height: 15em;
  }

  .tamanyFotos{
    width: 20.5em;
    height: 15em;
  }


}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
