.colorPrincipal{
  background-color: #213448 !important; 
}

.fons{
  background-color: #FFFFFF;
}

.fonsIniciSessio{
  background-image: url('assets/fotoFondoInicioSesion.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.menuLateral{
  height: 100vh; 
 
  flex-direction: column; 
}

.elementoLista{
  cursor: pointer;
  height: 3.5em;
}

.elementoLista:hover{
  background-color: #cacaca !important;
}

.headerifooter{
  background-color: #000000 !important;
}

.colorText{
  color: #ECEFCA !important;
}

.card{
  width: 18em;
}

.colorHamburguesa{
  background-color: #ECEFCA !important;
}

.fondoTextos{
  background-color: #213448;
  color: #ECEFCA !important;
}

.boto{
  background-color: #547792 !important;
  color: #ECEFCA !important;
}

.boto:hover{
  background-color: #000000;
}

.logo{
  height: 4em;
  padding-left: 1em;
}

.logoFooter{
  height: 7em;
}

.contenedorPrincipal{
  margin-top: 5.6em;
}

.tamanyInici{
  width: 34em;
  height: 22em;
}

.tamanyFotos{
  width: 34em;
  height: 22em;
}

.tamanyFotosCarrusel{
  width: 70em;
  height: 35em; 
}

.modal-no-bg {
  background-color: transparent;
  border: none;
  padding: 0;
  box-shadow: none;
}

.modal-dialog-centered-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.modal-backdrop-custom {
  background-color: rgba(0, 0, 0, 0.7);
}


@media (max-width: 575.98px) { 
  .tamanyInici{
    width: 25em;
  }

  .tamanyFotosCarrusel{
    width: 20em;
    height: 15em;
  }

  .tamanyFotos{
    width: 20.5em;
    height: 15em;
  }


}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
