.formulari{
  background-color: #00ABE4 !important; 
}

.fons{
  background-color: #FFFFFF;
}

.boto{
  background-color: #E9F1FA !important;
  color: black !important;
}

.logoFooter{
  height: 10em;
}

.contenedorPrincipal{
  margin-top: 6.5em;
}

.tamanyInici{
  width: 34em;
  height: 22em;
}

.tamanyFotosCarrusel{
  width: 70em;
  height: 35em; 
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
